@model EmpWithDepartListViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>



<form  asp-action="SaveEdit" asp-route-id="@Model.Id" method="post">
    <div>
        <label asp-for="Name"></label>
        <input  asp-for="Name" class="form-control" />

    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control"/>
    </div>
    <div>
        <label asp-for="ImageURL"></label>
        <input asp-for="ImageURL" class="form-control" />
    </div>
    <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
    </div>
    <div>
        <label asp-for="JobTitle"></label>
        <input asp-for="JobTitle" class="form-control"/>
    </div>
    <div>
        <label asp-for="DepartmentID"></label>
        <select id="DepartmentID" name="DepartmentID" class="form-control">
            @foreach (var item in Model.Departments)
            {
                @if(item.Id == Model.DepartmentID)
                {
                    <option value="@item.Id" selected>@item.Name</option>
                }
                else
                {
                    <option value="@item.Id" >@item.Name</option>
                }

            }
            </select>

    </div>
    <input type="submit" value="Save" class="btn btn-success"/>
</form>