@model InstructorWithCoursesAndDepartmentsViewModel
@{
    ViewData["Title"] = "Add";
}

<div class="container mt-4">
    <div class="card shadow-sm border-0 rounded-3">
        <div class="card-header bg-dark text-white text-center">
            <h3 class="mb-0">Add New Instructor</h3>
        </div>
        <div class="card-body p-4">
            <form asp-action="Create">
            <div  class="mb-3">
                <label class="form-label">Name</label>
                <input asp-for="Name" class="form-control" />
            </div  class="mb-3">

            <div  class="mb-3">
                <label class="form-label">Address</label>
                <input asp-for="Adress" class="form-control" />
            </div> 

            <div  class="mb-3">
                <label>Salary</label>
                <input asp-for="Salary" class="form-control" />
            </div>

            <div  class="mb-3">
                <label class="form-label">ImageURL</label>
                <input type="file" asp-for="ImageURL" class="form-control"/>
            </div  class="mb-3">

            <div class="mb-3">
                <label class="form-label">Courses</label>
                <select id="CourseId" name="CourseId" class="form-control">
                    @foreach (var item in @Model.Courses)
                    {
                        if (@item.Id == Model.CourseId)
                        {
                            <option value="@item.Id" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Departments</label>
                <select id="DepartmentId" name="DepartmentId" class="form-control">
                    @foreach (var item in @Model.Departments)
                    {
                        if (@item.Id == Model.CourseId)
                        {
                            <option value="@item.Id" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
             <div class="text-center">
                  <button type="submit" class="btn btn-success px-4">Save</button>
                  <a asp-action="Index" class="btn btn-secondary px-4 ms-2">Cancel</a>
              </div>
        </form>
        </div>
    </div>



</div>
