@model Instructor

@{
    ViewData["Title"] = "Instructor Details";
}

<h1>@Model.Name</h1>

<div class="card" style="width: 22rem;">
    <img src="~/Images/@Model.ImageURL" class="card-img-top" alt="@Model.Name" />
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text"><strong>Address:</strong> @Model.Adress</p>
        <p class="card-text"><strong>Course:</strong> @Model.Course.Name</p>
        <p class="card-text"><strong>Department</strong> @Model.Department.Name</p>

        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
